/* Splash Page */
.splash__div__wrapper {
  min-height: 75vh;
}

.splash__div__wrapper__bg__image {
  background-image: url("https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.splash__div__wrapper__polygon__shape {
  height: 70px;
  transform: translateZ(0);
  overflow: hidden;
  pointer-events: none;
}
